body {
    color: black;
    background-color: white;
    margin: 0;
}

header{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    padding: 20px;
    background-color: antiquewhite;
}
header div{
    margin-top: -15px;
}
/* nav{
    border-right: 3px solid gray;
    width: 140px;
    height: 2000px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(203, 221, 221)
    
} */
article{
    
    padding: 20px;
    width: 500px;
}
nav ol{
    list-style: none;
    padding: 20px;    
}
h2{
    font-size: 20px;
}

#control{
    float:right;
    
    
}

header img{
    float: left;
    width: 70px;
    margin-top: 10px;
}
/* header{
    background-color: rgb(42, 39, 39)
} */
h1{
    text-align: center;
}

p{
    width: 400px;
}

.container{
    display: flex;
    flex-direction: column;
}

footer{
    border-top:3px solid gray;
    padding:20px;
    text-align: center;
    
}
.content{
    display:flex;
}
.content nav{
    border-right:3px solid gray;

    /* width: 20px; */
    /* height: 2000px; */
    /* float: left; */
    /* margin-left: 20px; */
    margin-right: 10px;
    background-color: rgb(203, 221, 221)
    
}
.content aside{
    border-left:1px solid gray;    
}
nav, aside{
    flex-basis: 100px;
    flex-shrink: 0;
}
main{
    padding:0px;
}

#rollUp{
    float: right;
}

a{
    text-decoration: none;
}

nav li{
    margin: 7px;
    font-weight: bold;
    
}

nav ol{
    padding-right: 10px;
    padding-left: 10px;
}