header{
    border-bottom: 1px solid gray;
    padding: 20px;
}
nav{
    /* border-right: 1px solid white; */
    width: 130px;
    height: 1000px;
    float: left;
}
article{
    
    padding: 20px;
    width: 500px;
}
nav ol{
    list-style: none;
    padding: 0;    
}
h2{
    font-size: 20px;
}

#control{
    float:right;
    
    
}

header img{
    float: right;
    width: 100px;
}
h1{
    text-align: center;
}

body{
    overflow-x: hidden
}

p{
    width: 410px;
}